<%= form_for(@bookmark, remote: true) do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  

  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :Category %>
    <%= collection_select(:bookmark, :category_id, Category.all, :id, :title , options ={:prompt => ""} ) %>
  </div>

  <div class="field" id = "subcategory" >
    <%= f.label :Subcategory%>
    <%= collection_select(:bookmark, :subcategory_id, Subcategory.all, :id, :title, options ={:prompt => ""})  %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field" >
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :Category %><br>
    <%= f.collection_select :category_id, Category.all , :id, :title, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <%end%>
