<%= form_for @bookmark, html: { multipart: true }  do |f| %>
  <% if @bookmark.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>

      <ul>
      <% @bookmark.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>  
  
  <div class="form-group">
    <%= f.label :Category %>
    <%= collection_select(:bookmark, :category_id, Category.all, :id, :title , options ={:prompt => ""} , {class: "form-control"} ) %>
  </div>

  <div class="form-group" id = "subcategory" >
    <%= f.label :Subcategory%>
    <%= collection_select(:bookmark, :subcategory_id, Subcategory.all, :id, :title, options ={:prompt => ""} ,{class: "form-control sub"})  %>
  </div>
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control" %>
  </div>
  <div class=" form-group" >
    <%= f.label :url %>
    <%= f.text_field :url ,class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description , class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit "Create Bookmark", class: "btn btn-lg btn-primary"%>
  </div>
  <%end%>
