<h1>Listing bookmarks</h1>




  <table>
  <% @bookmarks.each do |bookmark| %>
    <tr>
        <td><%= link_to bookmark.user.username , user_path(bookmark.user_id)%></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.description %></td>
        <td><%= image_tag bookmark.image.url(:thumb) %></td>
        <td><%= link_to 'Show', bookmark %></td>
    </tr>
</table>
<%= link_to 'New Bookmark', new_bookmark_path %>
