<h1>Listing bookmarks</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Url</th>
      <th>Description</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to bookmark.user.username , user_path(bookmark.user_id)%></td>
        <td><%= bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.description %></td>
        <td><%= image_tag bookmark.image.url(:thumb) %></td>
        <td><%= link_to 'Show', bookmark %></td>
        <% if bookmark.user == current_user %>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark) %></td>
        <%end%>
        <% if current_user!= nil%>
        <td><% if  current_user.id == 1 || bookmark.user ==current_user  %><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' } %> <%end%> </td>  
        
        <%end%>     
    <div class="btn-group">
      <td><%= link_to like_bookmark_path(bookmark), method: :put, :class => 'btn btn-small' do %>
        Upvote (<%= bookmark.get_upvotes.size %>)
      <% end %></td>
      <td><%= link_to dislike_bookmark_path(bookmark), method: :put, :class => 'btn btn-small' do %>
        <i class="icon-search"></i>
        Downvote (<%= bookmark.get_downvotes.size %>)
      <% end %></td>
    </div>


      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Bookmark', new_bookmark_path %>
