<p id="notice"><%= notice %></p>

<%= image_tag @bookmark.image.url(:medium) %>

<p>
  <small>Submitted
  <%= time_ago_in_words(@bookmark.created_at) %>
   by <strong><%= @bookmark.user.username %> </strong>
</small></p>
<table class = "table table-striped table-bordered table-condensed ">
  <tr>
    <td>
      <strong>Title:</strong>
      <%= @bookmark.title %>
    </td>
  </tr>
  <tr>
    <td>
       <strong>Title:</strong>
  <%= @bookmark.title %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Category:</strong>
  <%= Category.find(@bookmark.category_id).title%>
</td>
  </tr>
  <tr>
    <td>

  <strong>Subategory:</strong>
  <%= Subcategory.find(@bookmark.subcategory_id).title%>
</td>
  </tr>
  <tr>

  <div class="btn-group">
      <td><%= link_to like_bookmark_path(@bookmark), method: :put, :class => 'btn btn-success' do %>
        Upvote (<%= @bookmark.get_upvotes.size %>)
      <% end %>
      <%= link_to dislike_bookmark_path(@bookmark), method: :put, :class => 'btn btn-success' do %>
        <i class="icon-search"></i>
        Downvote (<%= @bookmark.get_downvotes.size %>)
      <% end %></td>
    </div>
  </tr>
</table>



<%= link_to 'Edit', edit_bookmark_path(@bookmark) ,  :class => "btn btn-warning" %> |
<%= link_to 'Back', :back,:class => "btn btn-default" %>
