<p id="notice"><%= notice %></p>


<p>
  <small>Submitted
  <%= time_ago_in_words(@bookmark.created_at) %>
   by <strong><%= @bookmark.user.username %> </strong>
</small></p>
<table class = "table table-striped table-bordered table-condensed ">
  <tr>
    <td>
       <strong>Title:</strong>
  <%= @bookmark.title %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</td>
  </tr>
  <tr>
    <td>
  <strong>Category:</strong>
  <%= Category.find(@bookmark.category_id).title%>
</td>
  </tr>
  <tr>
    <td>

  <strong>Subategory:</strong>
  <%= Subcategory.find(@bookmark.subcategory_id).title%>
</td>
  </tr>
  <tr>

  <div class="btn-group">
      <td><%= link_to like_bookmark_path(@bookmark), method: :put, :class => 'btn btn-success' do %>
        Upvote (<%= @bookmark.get_upvotes.size %>)
      <% end %>
      <%= link_to dislike_bookmark_path(@bookmark), method: :put, :class => 'btn btn-success' do %>
        <i class="icon-search"></i>
        Downvote (<%= @bookmark.get_downvotes.size %>)
      <% end %></td>
    </div>
  </tr>
</table>

<% Follower.all.each do |follower|
      if follower.followed_id == current_user.id %>
      <% @notification = Notification.create(user_id: current_user.id , category_id: @bookmark.category_id , subcategory_id: @bookmark.subcategory_id , bookmark_id: @bookmark.id , recevier_id: follower.follower_id )%>
      <%= @notification.save %>
<% end %>
<%end%>


<%= link_to 'Edit', edit_bookmark_path(@bookmark) ,  :class => "btn btn-warning" %> |
<%= link_to 'Back', :back,:class => "btn btn-default" %>