<p id="notice"><%= notice %></p>

<%= image_tag @bookmark.image.url(:medium) %>

<p>
  <strong>Title:</strong>
  <%= @bookmark.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @bookmark.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bookmark.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bookmark.category.title %>
</p>

<p>
	<div class="btn-group">
      <td><%= link_to like_bookmark_path(@bookmark), method: :put, :class => 'btn btn-small' do %>
        Upvote (<%= @bookmark.get_upvotes.size %>)
      <% end %></td>
      <td><%= link_to dislike_bookmark_path(@bookmark), method: :put, :class => 'btn btn-small' do %>
        <i class="icon-search"></i>
        Downvote (<%= @bookmark.get_downvotes.size %>)
      <% end %></td>
    </div>
</p>

<%= link_to 'Edit', edit_bookmark_path(@bookmark) %> |
<%= link_to 'Back', :back %>
