<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :Category %><br>
    <%= f.collection_select :category_id, Category.all , :id, :title, {:include_blank => ''} ,{:class => 'Category form-control'}  %>
  </div>
  <div class="form-group hide1">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control"%>
  </div>
  <div class="form-froup hide1">
    <%= f.submit "Submit Subcategory", class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
