<h1>Listing notifications</h1>

<table>
  <thead>
    <tr>
      <th>Sender</th>
      <th>Category</th>
      <th>Subcategory</th>
      <th>Bookmark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Notification.find_by_recevier_id(current_user.id).each do |notification| %>
    <div>
      <tr>
        <td><%= User.find(notification.sender_id).title %></td>
        <td><%= Category.find(notification.category_id).title %></td>
        <td><%= Subcategory.find(notification.subcategory_id).title %></td>
        <td><%= link_to  Bookmark.find(notification.bookmark_id).title , bookmark_path(notification.bookmark_id) %></td>
        <td><%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <div>
        <hr>
    <% end %>
  </tbody>
</table>

<br>