<p id="notice"><%= notice %></p>

<p>
  <strong>Sender:</strong>
  <%= @notification.sender_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @notification.category_id %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @notification.subcategory_id %>
</p>

<p>
  <strong>Bookmark:</strong>
  <%= @notification.bookmark_id %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
