<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @category.title %>
</p>

<tbody>
	<% @category.subcategories.each do |subcategory| %>
	<tr><li>
	<td>Link:</td>
	<td><%= subcategory.title %></td>
	<td><%= link_to 'Show', subcategory %></td>
	</tr>
	</li>
	<% end %>
</tbody>
<br>

<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Back', categories_path %>
